@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    padding: 0;
    margin: 0;
}
:root{
    --primary: rgb(239, 198, 239); 
}
body{
    background-color: var(--primary);
}
#container{
    width: 90vmin;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: white;
    padding: 80px 45px;
    border-radius: 10px;
}
#search-box{
    display: flex;
    justify-content: space-between;
}
#search-box input{
    padding: 10px 15px;
    width: 65%;
    font-family: "Poppins";
    outline: none;
    border: none;
    color: black;
    border-bottom: 3px solid var(--primary);
    font-size: 15px;
    text-align: left;
}
#search-btn{
    padding: 10px 30px;
    background-color: var(--primary);
    color: white;
    text-align: center;
    border: none;
    outline: none;
    border-radius: 5px;
    line-height: 22px;
    cursor: pointer;
}
#result{
    position: relative;
}
#result h3{
    font-size: 20px;
    color: black;
}
#word{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    font-family: "Poppins";
}
#result button{
    color: var(--primary);
    font-size: 20px;
    border: none;
    outline: none;
    cursor: pointer;
    margin-right: 160px;
    background-color: white;
}
#details{
    color: gainsboro;
    font-size: 13px;
    display: flex;
    font-family: "Poppins";
}
#word-meaning{
    color: black;
    font-size: 14px;
    font-family: "Poppins";
    margin-top: 10px;
}
#word-example{
    margin-top: 30px;
    margin-left: 15px;
    font-style: italic;
    color: black;
    padding: 10px 17px;
    border-left: var(--primary) solid 3px;
}
